extends ./layout.jade

block content
    article.sidebar
        div.app-logo 管理后台
        nav.sidebar-nav
            ul
                li.nav-item
                    a(href="#") 
                        span 
                        span.name 分类管理 
                li.nav-item
                    a(href="#") 
                        span 
                        span.name 文章管理
                li.nav-item
                    a(href="#") 
                        span 
                        span.name 媒体库  
    main.row