extends ./layout.jade
block append stylesheet 
    link(href="/styles/cate.css" rel="stylesheet")
    link(href="/styles/components.css" rel="stylesheet")
    link(rel="stylesheet", href="/lib/bs-tab.css")
    
block content
    div.container-fluid.categories-page
        include ./toolbar
        div.table-data
            table.table-striped(data-toggle="table" 
             data-pagination="true"
             data-url="/admin/categories/data")
                thead.thead-light
                    tr 
                        th(data-field="_id") id
                        th(data-field="label") 名称
                        th(data-field="value") 值
                            
block append script
    script(src="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.js") 