extends ./layout.jade

block content
    aside.sidebar
        div.app-logo
        nav.sidebar-nav
            ul
                li.nav-item
                    a(href="/admin/cate/data/view" target="pageFrame") 
                        span.icon.iconfont.icon-menu
                        span.name 分类管理
                li.nav-item.nav-has-children
                    a.collapsed(href="#" data-toggle="collapse" data-target="#articleList"  aria-expanded="false" aria-label="Toggle navigation") 
                        span.icon.iconfont.icon-image-text
                        span.name 文章管理
                    ul#articleList.collapse
                        li 
                            a(href="/admin/articles/list/view" target="pageFrame") 列表
                        li 
                            a(href="/admin/articles/save/view" target="pageFrame") 新增
                li.nav-item
                    a(href="/admin/media/view" target="pageFrame") 
                        span.icon.iconfont.icon-film
                        span.name 媒体库
               
    main.main
        header.header 
            div.container-fluid
                div.row 
                    div.col-lg-2.col-md-2.col-2
                        div.header-left
                            button.primary-btn.btn-hover.menu-toggle-button.border-0
                                span.icon.iconfont.icon-menu
                    div.col-lg-10.col-md-10.col-10
                        div.header-right
                            div.profile
                                button.dropdown-toggle.bg-transparent.border-0(type="button" id="profile" data-toggle="dropdown" aria-expanded="false")
                                    div.profile-info
                                        img(src="http://v.bootstrapmb.com/2022/3/k0pyr12101/assets/images/profile/profile-image.png", alt="")
                            ul.dropdown-menu.dropdown-menu-end(aria-labelledby="profile")
                                li
                                    a(href="#") 
                                        i 个人主页
                                li
                                    a(href="#") 
                                        i 退出登录
        section.page
            iframe(src="/admin/view", frameborder="0" name="pageFrame")     

        footer.footer
            div.container-fluid
                div.row 
                    div.col-md-6
                    div.col-md-6