doctype html
html 
    head
        link(href="/lib/bootstrap.min.css" rel="stylesheet")
        link(href="/styles/admin.css" rel="stylesheet")
        block 
            block title 
                title 个人主页
    body 
        block content
        
        block footer
    script(src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js")
    script(src="/lib/bootstrap.bundle.min.js")
    block script 