div.toolbar
    div.row 
        div.col-md-2
            button.btn.btn-primary 新增
        div.col-md-10
            form(action="")
                div.form-item 
                    input(type="text" class="form-control") 
                    button.btn.btn-primary 搜索 