form.hide(action="/intro/set" id="introFormSet" method="post")
	div.k-content.form-item
		label 标题
		input(type='text' class='k-textbox' name='title')
	div.k-content.form-item
		label 字幕
		input(type='text' class='k-textbox' name='caption')
	div.k-content.form-item
		label 说明
		textarea(name='description')
	div.k-content.form-item
		button.k-button.k-primary(type="button") 设置
//- 专题首页展示信息表单添加
form.hide(action="/intro/set" id="specialFormAdd" method="post")
	div.k-content.form-item
		label 标题
		input(type='text' class='k-textbox' name='title')
	div.k-content.form-item
		label 字幕
		input(type='text' class='k-textbox' name='headline')
	div.k-content.form-item
		label 首页展示图
		input(name='homeFigure' class='k-textbox')
	div.k-content.form-item
		button.k-button.k-primary(type="button") 设置