div.tab-strip-item
  div.wrapper.clearfix
    ul.left-container
      li(type=2) 介绍
      li(type=3) 专题
    div.right-container
      div.tool-bar
        span.btn-wrapper
          button.k-button.k-primary 新增
      div.grid
      div.special-wrapper
        div.tool-bar
          button.k-button.k-primary 新增
          span.select-text 主题选择:
          select.select
        div.grid
include ./form.jade