form(action="" role="form" style="display:none;")#introForm
	div.form-group
		label(for="title") 标题
		input(type="text" placeholder="请输入标题" name="title").form-control
	div.form-group
		label(for="title") 宣传语
		input(type="text" placeholder="请输入宣传标语" name="slogan").form-control
	div.form-group
		label(for="title") 主题概述
		input(type="text" placeholder="请输入主题标题" name="themeOverview").form-control
	div.form-group
		label(for="title") 简介
		textarea(name="intro", cols="30", rows="10")(type="text" placeholder="请输入简介信息 ").form-control
	div.form-group
		button.btn.btn-default(type="button") 返回
		button.btn.btn-primary(type='button') 提交
