div.module-page.hide
    div.tool-bar
        span.btn-wrapper
            button.k-button.k-primary 新增  
    div.grid-box.clearfix
        div.grid
        form(action="/intro/set" id="specialForm" method="post" class="panel")
            div.k-content.form-item
                label 首页标题
                input(type='text' class='k-textbox' name='title')
            div.k-content.form-item
                label 主题标题
                input(type='text' class='k-textbox' name='headline')
            div.k-content.form-item
                label 首页展示图
                textarea(name='homeFigure')
            div.k-content.form-item
                button.k-button.k-primary(type="button" model=0) 提交
    div.special-wrapper
            div.tool-bar
                span.select-text 主题选择:
                select.select
            div.grid-box.clearfix
                div.grid
                form( id="themesForm" method="post" class="special-form" class="panel")
                    div.k-content.form-item
                        label 描述
                        textarea(class='k-textbox' name='presentation')
                    div.k-content.form-item
                        label 照片
                        input(name='photo' class='k-textbox')
                    div.k-content.form-item
                        button.k-button.k-primary(type="button" model=0) 提交