form(style="display:none;")#themeForm
    div.form-group
        label(for="") 主题标题
        input(type="text" name="headline").form-control 
    div.form-group
        label(for="") 主题配图
        input(type="text" name="illustrating").form-control 
    div.form-group
        button(type='button').btn.btn-default 返回
        button(type='button').btn.btn-primary 提交
form(style="display:none;")#themeListForm
    div.form-group
        label(for="") 陈述(说明)
        input(type="text" name="presentation").form-control 
    div.form-group
        label(for="") 描述图
        input(type="text" name="discriptiveGraph").form-control 
    div.form-group
        button(type='button').btn.btn-default.back 返回
        button(type='button').btn.btn-primary.submit 提交