section#theme(style="display:none;")
    header#themeToolbar
        div.btn-group
            button.btn.btn-info#ThemeNewly
                i.glyphicon.glyphicon-plus 
                span 新增
    table#themeTable
form(style="display:none;")#themeForm
    div.form-group
        label(for="") 主题图
        input(type="text").form-control 
    div.form-group
        button(type='button').btn.btn-primary 提交