extend ../layout
block content
 div.container
  div.article-detail-wrapper
   - var content = data.article_detail.content || "";
   - var title = data.article_detail.title || "";
    article.content
     h1.title #{title}
     p.publish-info 
      span.time 
     p#articleContent.article-content #{content}
    include ./comment.jade