- var list = comments.list;
each comment in list
    article.comment-content-item
        h2.user #{comment.username}
            span.publish-time #{comment.timeDiff}
        p.content #{comment.content}