extend ../layout
block content
  div.article-detail-wrapper
    section
      article
          div.content
            h1.title #{article.title}
            p.publish-info 
              span.time 
            p#articleContent.article-content #{article.content}
    section
      //- include ./comment.jade