a{
	text-decoration: none;
}

a:focus{text-decoration: none}
<<<<<<< HEAD
a:hover{text-decoration: none; cursor: pointer;}
=======
a:hover{text-decoration: none; color: #337ab7; cursor: pointer;}
>>>>>>> 361091c450470073bbf51aa020e371b7b401d18b
