
.header {
    height: 90px;
    line-height: 90px;
    background-color: #2A3F54;
    .title {
		float: left;
        padding-left:50px;
        font-size: 38px;
        color: white;
    }
    .user {
        span {
            float: right;
            font-size: 14px;
            color: #eee;
            padding: 0 12px;
        }
    }
}

.content-wrapper {
    position: absolute;
    top: 130px;
    bottom: 0;
    left: 0;
    right: 0;
    .left-wrapper{
        width: 200px;
        height: 100%;
        float: left;
    }
    .right-wrapper {
        position: absolute;
        top: 0;
        left: 205px;
        right: 0;
        bottom: 0;
        float: right;
        .right-header {
            margin-bottom: 2px;
            .btn-group {
                li {
                    padding: 5px 8px;
                }
            }
        }
    }
}

