.header {
	height: 50px;
	background-color: #3c8dbc;
	& >.title {
		width: 200px;
		font-size: 20px;
		color: white;
		margin: 0;
		height: 100%;
		line-height: 50px;
		text-align: center;	
		background-color: #367fa9;
	}
}

/*左侧边栏展示*/
.aside-bar {
	position: fixed;
	width: 200px;
	top: 50px;
	bottom: 0;
	background-color: #222d32;
}