button(data-toggle="modal" data-target="#confirmationBox") Launch demo modal
div.modal.fade#confirmationBox
    div.moadl-dialog.modal-sm.modal-dialog-centered.m-auto(aria-hidden="true" role="dialog" tabindex="-1")
        div.modal-content
            div.modal-header
                block modal-header
                    h5.modal-title 确定删除吗?
                    button(type='button' data-dismiss="modal").btn-close
            div.modal-body
                block modal-body
                    p 这里是内容
            div.modal-footer
                button(type='button' data-dismiss="modal").btn.btn-secondary 关闭
                button(type='button' data-dismiss="modal").btn.btn-primary 确定