- var articles = data.articles;
each article in articles
 div.article-verticle-item
   img.icon(src="#{article.img}", alt="")
   div.content
     h2.title
      a #{article.title} xxxxxx
     p.time #{article.serverTime}  
     p.description #{article.description}