extend layout
block content
 div.container
  - var content = data.article_detail ? data.article_detail.content : "";
  - var title = data.article_detail ? data.article_detail.title : "";
   article
    h1.title #{title}
    p.publish-info 
     span.time 
    p#articleContent.article-content #{content}