extend layout
block content
 div.article-detail-container
  div.article-detail-inner
   - var content = data.article_detail ? data.article_detail.content : "";
   - var title = data.article_detail ? data.article_detail.title : "";
    article
     h1.title #{title}
     p.publish-info 
      span.time 
     p#articleContent.article-content #{content}
    section.comment-section
     div.comment-list-wrapper
      div.comment-list-item
       div.user-wrapper
        img(src="/images/user-128.png").user-icon
        div.info
         h3 nihao 
         p ok
     form.comment-wrapper
      img(src="/images/dw-author.png").icon
      textarea.comment-input
      div.commit-btn-wrapper
       button.btn.btn-primary 发表看法