extend layout
block content
	section.essay
		div.wrapper
			- each nav in navs 
				div.item
					div.inner
						img(src="/images/company-img-2.jpg", alt="")
						h3 #{nav.name}
						p 内仍然让人更为昂贵
						a(href="#") 阅读
			
			