header 
    nav 
        h1 LIUYING
            ul 
                li 
                    a(href="#")首页
                li 
                    a(href="#")博客
                li 
                    a(href="#")相册
                li 
                    a(href="#")留言板