doctype html
html 
    head
        link(rel="stylesheet", href="/styles/reset.css")
        link(rel="stylesheet", href="/styles/index.css")
        block 
            block title 
                title 个人主页
    body 
        include header

        block content
        
        include footer