doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    link(rel='stylesheet', href='/css/reset.css')
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/css/common.css')
    link(rel='stylesheet', href='/css/loginRegister.css')
    link(rel='stylesheet', href='/css/essay.css')
    link(rel='stylesheet', href='/css/essayInfo.css')
    link(rel='stylesheet', href='/css/css/font-awesome.min.css')
    script(src="/js/jquery-1.11.1.min.js")
  body
      header.header
        div.inner
          h1.title CRYSTAL
          nav.nav
            a.active(href="#") 首页
            a.active(href="#") 菜单
            a.active(href="#") 主页
            a.active(href="#") 你好
      block content