html
    head
    body
        div
            a(href='http://www.baidu.com') 百度
            input(type='text',name='uname',value='用户名')
            div(style="width:100px;height:100px")
            div(style={width:'100px',height:'100px'})
            div(class='box left active')
            div(class=['box','left','active']) aaa
                span bbb
            div
                |aaaa