doctype html
html
  head
    meta(charst='utf-8')
    title = title
    link(rel='stylesheet', href='/css/common.css')
    link(rel='stylesheet', href='/css/reset.css')
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/css/loginRegister.css')
  body
    header.header
      h1 LIUYING
      nav.nav
        a(href="#") 首页
        a(href="#") 难忘今朝
        a(href="#") 流金影视 
        a(href="#") 故乡
        a(href="#") 随笔  
        a(href="#") 时光轴
    block content
