extend layout
block content
 form.login-form
   h1.title 用户登录	
   div.form-item 
     input(placeholder="输入用户名")
   div.form-item 
     input(placeholder="输入密码")
   div.form-item 
     button.btn.btn-primary 登录