extend layout
block content
 form(action="/user/login/submit" method="post").login-form
   h1.title 用户登录	
   div.form-item 
     input(placeholder="输入用户名" name="username" required pattern="[A-Za-z0-9]{4,16}" )
   div.form-item 
     input(placeholder="输入密码" name="password" pattern="[A-Za-z0-9]{4,16}")
   div.form-item  
     button.btn.btn-primary 登录