extend ./layout
block content
 div.container
   form(action="/users/register" method='post').register-form
     h1.title 用户注册
     div.form-item
        input(type="text" placeholder = "请输入用户名" name="username" required id="regName")
     div.form-item
        input(type="password" placeholder = "请输入密码" name="password"  required id="regPass")
     div.form-item
        input(type="password" placeholder = "请确认密码" name="passAgain"  required id="regPassAgain")
     div.form-item
        input(type="password" placeholder = "请输入邮箱" name="email"  required id="regEmail")
     div.form-item
        button.btn.btn-primary 确认注册