.clearfix {
	zoom: 1;
}

.clearfix::after {
	display: block;
	content: " . ";
	height: 0;
	clear: both;
	visibility: hidden;
}

/* 表单通用样式 */

form .form-item {
	padding: 8px 0;
}

form .form-item input, form .form-item textarea {
   margin-left: 8px;
}

