.essay {
	padding-top:100px;
}

.essay .wrapper {
	width: 80%;
	margin: 0 auto;
}

.essay .wrapper .item {
	float: left;
	width: 25%;
	padding: 20px 0;
}

.essay .wrapper .item .inner {
	width: 80%;
	margin: 0 auto;
}

.essay .wrapper .item img {
	display: block;
	width: 100%;
	margin-bottom:20px;
	border-radius: 8px;
}

.essay .wrapper .item h3 {
	color: #cc9900;
	margin-bottom: 20px;		
	font-size: 26px;
}

.essay .wrapper .item p {
	margin-bottom: 20px;
	line-height: 26px;
	color: #8c8c8c;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 18px;
}

.essay .wrapper .item a {
	text-decoration: none;
	background: #cc9900;
	padding: 10px 30px;
	border-radius: 5px;
	color:#fff;
}