
body {
    min-width: 1300px;
}
.header {
    width: 100%;
    min-height: 50px;
    line-height: 65px;
    height: 65px;
    box-sizing: border-box;
    padding: 0 8%;
    position: fixed;
    top: 0;
    left: 0;
    z-index:999;
    background: #ffffff;
    /*box-shadow: 0 0 1px 0px #e4e4e4;*/
}

.header h1 {
    float:left;
    font-weight: bold;
    font-size: 24px;
    color:#66AF33;
}

.header nav {
    float: right;
}

.header nav a {
    padding: 0 15px;
    font-weight: bold;
    color: #404040;
    text-decoration: none;
}

.header nav a:hover {
    color: #66AF33;
}


/*banner  开始*/
.slider {
    padding-top:65px;
}

.slider .slider-panel {
    width: 100%;
    overflow: hidden;   
}

.slider .slider-panel ul {
    width: 800%;
    -webkit-animation: play 21s ease-in-out infinite 0s;    
}

.slider .slider-panel ul li {
    width: 12.5%;
    float:left;
}

.slider .slider-panel ul li img{
    display: block;
    width: 100%;
}

@keyframes play {
    0%,12.5% {
        transform:translateX(-0%);
    }
    12.5%,25% {
        transform:translateX(-12.5%);
    }
    25%,37.5% {
        transform:translateX(-25%);
    }
    37.5%,50% {
        transform:translateX(-37.5%);
    }
    50%,62.5% {
        transform:translateX(-50%);
    }
    75%,87.5% {
        transform:translateX(-62.5%);
    }
    87.5%,100% {
        transform:translateX(-75%);
    }
}



.slider ul li .content {
	width: 800px;
	height: 200px;
	position: absolute;
	left: 50%;
	margin-left: -400px;
	margin-bottom: 100px;
	top: 25%;
	text-align: center;
    color: #fff;
}
.slider ul li .content h2 {
	font-size: 36px;
	margin-bottom: 40px;
}
.slider ul li .content h3 {
	font-size: 30px;
	margin-bottom: 40px;
}
.slider ul li .content p {
	font-size: 18px;
	margin-bottom: 10px;
}


/* intro */
 .intro {
    box-sizing: border-box;
	padding: 100px 100px;
	font-weight: bold;
}
.intro .wrapper .caption {
	width: 500px;
	float: left;
}
.intro .wrapper .caption h3 {
	font-size: 32px;
	margin-bottom: 30px;
	color:rgb(85,85,85);
}
.intro .wrapper .caption h2 {
	margin-bottom: 50px;
	font-size: 36px;
	color:#66AF33;
}
.intro .wrapper .caption p {
	color:rgba(85,85,85, .8);
	line-height: 24px;
	font-size: 16px;
}
.intro .wrapper .show{
	float: right;
	width: 510px;
}
.intro .wrapper .show h2 {
	font-size: 32px;
	margin-bottom: 30px;
	color:rgb(85,85,85);
}
.intro .wrapper .show .wrapper {
	font-size: 0;
	width: 100%;
}
.intro .wrapper .show .wrapper span{
	display: inline-block;
	width: 250px;
}
.intro .wrapper .show .wrapper>:nth-child(odd) {
	padding-right: 10px;
}
.intro .wrapper .show .wrapper>span {
	padding-bottom: 10px;
}
.intro .wrapper .show .wrapper span img {
	display: block;
	width: 100%;
}

/*intro  E*/

/*timeline S*/
.timeline {
    background: #404040;
    padding: 80px 0;
    color: #fff;
}
.timeline .wrapper {
    width: 80%;
    margin: 0 auto;
}
.timeline .wrapper h3 {
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 80px;
    text-align: center;
}
.timeline .wrapper .line {
    width: 6px;
    margin: 0 auto;
    background: #fff;
    height: 100px;
    position: relative;
}
.timeline .line::after {
    display: block;
    content: "";
    width: 15px;
    height: 15px;
    border-radius:100%;
    position: absolute;
    top: -10px;
    left: -4.5px;
    background: #fff;
}
.timeline .line:nth-of-type(odd) .content {
    position: absolute;
    width: 400px;
    left: -500px;
    text-align: right;
}

.timeline .line:nth-of-type(even) .content {
    position: absolute;
    width: 400px;
    left:  100px;
}

.timeline .line .content h2 {
    font-size:40px;
    padding-bottom: 12px;
}

.timeline .line .content p {
    color: #b7b7b7;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
}

/*timeline E*/

/*footer S*/
.footer {
  background:#404040 url("./../images/contact-bg.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}
.footer .wrapper {
    min-height: 600px;
}