@charset "UTF-8";
.header {
  width: 100%;
  min-height: 50px;
  line-height: 65px;
  height: 65px;
  box-sizing: border-box;
  padding: 0 8%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: white;
  box-shadow: 0 0 1px 0px #e4e4e4;
}

.header h1 {
  float: left;
  font-weight: bold;
  font-size: 24px;
  color: #66AF33;
}

.header nav {
  float: right;
}

.header nav ul {
  text-align: center;
}

.header nav .nav-item {
  float: left;
  position: relative;
  text-align: center;
}

.header nav .nav-item a {
  display: block;
  width: 120px;
  font-weight: bold;
  color: #404040;
  text-decoration: none;
}

.header nav .nav-item a:hover {
  color: #66AF33;
}

.header nav .nav-item:hover .categories-wrapper {
  display: block;
}

.header nav .nav-item .categories-wrapper {
  position: absolute;
  top: 48px;
  text-align: center;
  display: none;
}

.header nav .nav-item .categories-wrapper li {
  float: none;
  height: 25px;
  margin-bottom: 2px;
  line-height: 25px;
  padding: 2px 10px;
  background-color: #66AF33;
}

.header nav .nav-item .categories-wrapper li a {
  display: block;
  color: white;
}

/*banner  开始*/
.banner .banner-panel {
  width: 100%;
  height: 564px;
  overflow: hidden;
}

.banner .banner-panel ul li {
  width: 100%;
  float: left;
  position: relative;
}

.banner .banner-panel ul li img {
  display: block;
  width: 100%;
}

.banner .banner-panel ul li .content {
  position: absolute;
  top: 100px;
  width: 100%;
  text-align: center;
  z-index: 999;
  color: #fff;
}

.banner .banner-panel ul li .content h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

.banner .banner-panel ul li .content h3 {
  font-size: 30px;
  margin-bottom: 40px;
}

.banner .banner-panel ul li .content p {
  font-size: 18px;
  margin-bottom: 10px;
}

/* intro */
.intro {
  box-sizing: border-box;
  padding: 100px 100px;
  font-weight: bold;
  color: #555555;
}

.intro .wrapper .caption {
  width: 500px;
  float: left;
  word-break: break-all;
}

.intro .wrapper .caption h2 {
  margin-bottom: 50px;
  font-size: 36px;
  color: #66AF33;
}

.intro .wrapper .caption h3 {
  font-size: 32px;
  margin-bottom: 30px;
}

.intro .wrapper .caption p {
  color: rgba(85, 85, 85, 0.8);
  line-height: 24px;
  font-size: 16px;
}

.intro .wrapper .show {
  float: right;
  width: 510px;
  word-break: break-all;
}

.intro .wrapper .show h2 {
  font-size: 32px;
  margin-bottom: 30px;
}

.intro .wrapper .show .wrapper {
  font-size: 0;
  width: 100%;
}

.intro .wrapper .show .wrapper span {
  display: inline-block;
  width: 250px;
}

.intro .wrapper .show .wrapper > :nth-child(odd) {
  padding-right: 10px;
}

.intro .wrapper .show .wrapper > span {
  padding-bottom: 10px;
}

.intro .wrapper .show .wrapper > span img {
  display: block;
  width: 100%;
}

/*intro  E*/
/*timeline S*/
.timeline {
  background: #404040;
  padding: 80px 0;
  color: #fff;
}

.timeline .wrapper {
  width: 80%;
  margin: 0 auto;
}

.timeline .wrapper h3 {
  font-weight: bold;
  font-size: 24px;
  padding-bottom: 80px;
  text-align: center;
}

.timeline .wrapper .current-time {
  width: 100px;
  margin: 40px auto;
  padding: 8px 0;
  text-align: center;
  background-color: #66AF33;
  color: white;
  border-radius: 40px;
}

.timeline .wrapper .line {
  width: 6px;
  margin: 0 auto;
  background: #fff;
  min-height: 100px;
  position: relative;
}

.timeline .wrapper .line::after {
  display: block;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 100%;
  position: absolute;
  top: -10px;
  left: -4.5px;
  background: #fff;
}

.timeline .wrapper .line:nth-child(odd) .content {
  margin-left: -350px;
  text-align: right;
  word-break: break-all;
  text-align: left;
}

.timeline .wrapper .line:nth-child(even) .content {
  margin-left: 100px;
  word-break: break-all;
  text-align: left;
}

.timeline .wrapper .line h2 {
  font-size: 40px;
  padding-bottom: 12px;
}

.timeline .wrapper .line .content {
  width: 250px;
}

.timeline .wrapper .line .content img {
  display: block;
  width: 100%;
}

.timeline .wrapper .line .content p {
  color: #b7b7b7;
  font-size: 13px;
  line-height: 18px;
  font-family: 'Montserrat', sans-serif;
}

/*timeline E*/
/*footer S*/
.footer {
  background: #404040 url("./../images/contact-bg.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

.footer .wrapper {
  min-height: 600px;
}

/*专题内容 S*/
/*专题内容 E*/
