body {
	background-color: #eee;
}
.loginRegister {
	padding-top:65px;
}

.loginRegister form {
	width: 800px;
	margin: 65px auto 0;
	box-sizing: border-box;
	padding: 30px;
	background: #fff;
	border-radius: 8px;
	border: solid #e4e4e4 1px;
}
.loginRegister form div.item {
	margin: 15px 0;
	height: 50px;
	line-height: 50px;
}
.loginRegister form input[type="text"],input[type="password"] {
	height: 34px;	
	padding: 6px 0;
	width: 90%;
	font-size: 14px;
	padding-left: 15px;
	background: #fff;
	color:#555;
	border: solid 1px #ccc;
	border-radius: 6px;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	outline: none;
}

.loginRegister form input[type="checkbox"] {
	height: 20px;
	width: 20px;
}


.loginRegister form .item span.icon {
	display: inline-block;
	width:40px;
	font-size: 30px;
	vertical-align: middle;
}
.loginRegister form .item span.remeber {
	padding-left: 12px;
	font-weight: 400;
}

.loginRegister form .item button {
	border:none;
	background: #5bc0de;
	color: #fff;
	padding: 10px 18px;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
}

.loginRegister form .last {
	height: 40px;
	line-height: 40px;
}

.loginRegister form .item .forget {
	padding-left: 15px;
	vertical-align: bottom;
	text-decoration: none;		
}

.loginRegister form .item .reg-text, .login-text {
	float: right;
	padding-right: 12px;
}

.loginRegister .register {
	display: none;
}