.header {
  height: 90px;
  line-height: 90px;
  background-color: #2A3F54;
}

.header .title {
  float: left;
  padding-left: 50px;
  font-size: 38px;
  color: white;
}

.header .user span {
  float: right;
  font-size: 14px;
  color: #eee;
  padding: 0 12px;
}

.tab-strip {
  position: absolute;
  top: 90px;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.tab-strip-item {
  height: calc(100% - 90px);
  overflow: auto;
}

.tab-strip-item .left-wrapper {
  width: 10%;
  height: 100%;
  float: left;
}

.tab-strip-item .right-wrapper {
  float: right;
  width: 89.5%;
  height: 100%;
}

.home-container .k-content {
  height: 400px;
  margin-bottom: 25px;
}
