.header {
  height: 90px;
  line-height: 90px;
  background-color: #2A3F54;
}

.header .title {
  float: left;
  padding-left: 50px;
  font-size: 38px;
  color: white;
}

.header .user span {
  float: right;
  font-size: 14px;
  color: #eee;
  padding: 0 12px;
}

.tab-strip {
  position: absolute;
  top: 90px;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.tab-strip-item {
  height: calc(100% - 90px);
  overflow: auto;
}

.tab-strip-item .left-wrapper {
  width: 10%;
  height: 100%;
  float: left;
}

.tab-strip-item .right-wrapper {
  float: right;
  width: 89.5%;
  height: 100%;
}

.tab-strip-item .split-home-container ul {
  text-align: center;
}

.tab-strip-item .split-home-container ul li {
  height: 45px;
  line-height: 45px;
  border-bottom: 2px #e3e3e3 solid;
  cursor: pointer;
}

.tab-strip-item .split-home-container ul li:last-child {
  border-bottom: none;
}

.tab-strip-item .split-home-container ul .selected {
  background-color: #e3e3e3;
}

.tab-strip-item .split-home-container .right-container {
  padding-left: 12px;
}

.home-container .grid {
  min-height: 500px;
}

.home-container .home-toolbar {
  padding: 5px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: solid 1px #ccc;
  background-color: #F5F5F5;
}

.home-container .home-toolbar .k-button {
  margin-right: 8px;
}
