- var articles = data.articles;
each article in articles
  div.block-item-white
   img(src="#{article.img}").img
   div.text-wrap
    h2.title #{article.title}
    p.description #{article.description} ...
    div.article-info
     span.article-footer-between.creation-type 原创
     span.article-footer-between  
       i.fa.fa-commenting-o
       i 400
     span.article-footer-between 
       i.fa.fa-eye 
       i 400 
