mixin title-panel(title)
  h3.title-panel #{title}
extends ../layout
block content
 section
  div.container
   div.article-wrapper.clearfix
    include ./../components/verticle-item.jade
   div(style="margin-top:15px;")
    div.paging#paging
       
