footer.page-footer
    div.container
        div.row
            div.col-6
                p 
                    Copyright © 2020.Company name All rights reserved.
            div.col-6
        div.row
