header 
    nav.flex-row-between.nav
        h1.nav-logo LIUYING
        ul.flex-center-all.nav-menu
            li 
                a(href="#")首页
            li 
                a(href="#")博客
            li 
                a(href="#")留言板