header 
    nav.flex-row-between.page-nav
        h1.nav-logo LIUYING
        ul.flex-center-all.nav-menu
            li 
                a(href="/")首页
            li 
                a(href="/blog/view?pageNo=1&pageSize=9")博客
            li 
                a(href="/board/view")留言板