extends layout
block content
   section.banner
    include ./home/banner.jade
   section.intro
    include ./home/intro.jade
   section.timeline
    include ./home/timeline.jade
   footer.footer
    include ./home/footer.jade
  