doctype html
html
    head
        link(href="/lib/bootstrap.min.css" rel="stylesheet")
        link(rel="stylesheet", href="/styles/reset.css")
        link(rel="stylesheet", href="/styles/index.css")
        block stylesheet
        block 
            block title 
                title 个人主页
    body 
        include header

        block content
        
        include footer

    block script 
        script(src="/lib/jquery.min.js")
        script(src="/lib/bootstrap.bundle.min.js")