doctype html
html
    head
        link(href="/lib/bootstrap.min.css" rel="stylesheet")
        link(rel="stylesheet", href="/styles/all.css")
        link(rel="stylesheet", href="/styles/index.css")
        block stylesheet
        block 
            block title 
                title 个人主页
    body 
        include header

        block content
        
        include footer

        include ./components/toast.jade

    block script 
        script(src="/lib/jquery.min.js")
        script(src="/lib/bootstrap.bundle.min.js")
        script 
            $("#toast").length && $("#toast").toast("show")