doctype html
html
  head
    meta(charst='utf-8')
    title 个人网
    link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.min.css')
    link(rel="stylesheet", href="/lib/jquery/plugin/paging/paging.css")
    link(rel='stylesheet', href='/css/common.css')
    link(rel='stylesheet', href='/css/reset.css')
    link(rel='stylesheet', href='/css/www/home.css')
    link(rel='stylesheet', href='/css/www/article.css')
    link(rel='stylesheet', href='/css/www/register.css')
    link(rel='stylesheet', href='/css/www/login.css')
    link(rel='stylesheet', href='/lib/font-awesome-4.7.0/css/font-awesome.min.css')
    script(src="/lib/require/require.js" data-main="/js/main-www")
  body
    //- include ./common/message.jade
    include ./../common/header.jade
    div.container
      block content

