doctype html
html
    head
        link(href="/lib/bootstrap.min.css" rel="stylesheet")
        link(rel="stylesheet", href="/styles/reset.css")
        link(rel="stylesheet", href="/styles/sign-in.css")
        title 登录
    body.flex-center-all
        div.container
            form.card.m-auto(style="width: 400px" action="/sign-in/submit" method="post")
                h3.card-title.text-center 管理系统登录
                div.card-body
                    form.m-auto
                        div.form-group
                            label(for="") 用户名
                            input(type="text" name="username").form-control.mt-2
                            small(class="form-text text-muted" name="password") 输入用户名
                        div.form-group
                            label(for="") 密码
                            input(type="password" name="password").form-control.mt-2
                            small(class="form-text text-muted") 输入密码
                        button.btn.btn-theme 登录
script(src="/lib/jquery.min.js")
script(src="/lib/bootstrap.bundle.min.js")