div.banner-panel
  ul.clearfix
   li.banner-item
    img(src="/images/slider/1.jpg", alt="")
    div.content
      h2 天净沙·秋思
      h3 枯藤老树昏鸦，小桥流水人家，古道西风瘦马
      p 以景托情，寓情于景，在景情的交融中构成一种凄凉悲苦的意境。
   li.banner-item
    img(src="/images/slider/1.jpg", alt="")
    div.content
      h2 天净沙·秋思
      h3 枯藤老树昏鸦，小桥流水人家，古道西风瘦马
      p 以景托情，寓情于景，在景情的交融中构成一种凄凉悲苦的意境。
   li.banner-item
    img(src="/images/slider/1.jpg", alt="")
    div.content
      h2 天净沙·秋思
      h3 枯藤老树昏鸦，小桥流水人家，古道西风瘦马
      p 以景托情，寓情于景，在景情的交融中构成一种凄凉悲苦的意境。
   li.banner-item
    img(src="/images/slider/1.jpg", alt="")
    div.content
      h2 天净沙·秋思
      h3 枯藤老树昏鸦，小桥流水人家，古道西风瘦马
      p 以景托情，寓情于景，在景情的交融中构成一种凄凉悲苦的意境。

      