div.banner-panel
  ul.clearfix
   - var banners = data.banners;
   each banner in banners
    li.banner-item 
     img(src="#{banner.background}", alt="")
     div.content
       h2 #{banner.title}
       h3 #{banner.caption}
       p  #{banner.description}

      