div.wrapper.clearfix
    div.caption
        h3 欢迎到我的工作室
        h2 数字工作室
        p  以景托情，寓情于景，在景情的交融中构成一种凄凉悲苦的意境。 以景托情，寓情于景，在景情的交融中构成一种凄凉悲苦的意境。以景托情，寓情于景，在景情的交融中构成一种凄凉悲苦的意境。
    div.show
        h2 这是个标题
        div.wrapper
            span
                img(src="/images/company-img-1.jpg", alt="")
            span
                img(src="/images/company-img-2.jpg", alt="")
            span
                img(src="/images/company-img-3.jpg", alt="")
            span
                img(src="/images/company-img-4.jpg", alt="")        