div.wrapper
  h3 时光轴
  each time in timeline
    div.current-time #{time._id}月
    each doc in time.document
      div.line
        div.content
          a(href="/article/detail/view/#{doc.articleId}/1")
            img(src="#{doc.illustration}")
          p #{doc.description}