div.wrapper
      h3 时光轴
      each time in timeline.list
        div.line
          div.content
            h2 #{time._id}
            if time.document.length > 0 
            p #{time.document[0].description}