
ul.list-group 
	li.list-group-item
		a(data-toggle="collapse" aria-expanded="false" href="#home-config-menu").center-block.clearfix 
			i.glyphicon.glyphicon-home
			span 首页
			//- i(collapsing='true').glyphicon.glyphicon-menu-up.pull-right
		ul.children-group.collapsing#home-config-menu
			li
				a(href="/manager/redirect/intro" target="main").center-block
					i.glyphicon.glyphicon-record
					span 介绍
			li
				a(href="/manager/redirect/theme" target="main").center-block
					i.glyphicon.glyphicon-record
					span 主题类别
			li
				a(href="/manager/redirect/theme.detail" target="main").center-block
					i.glyphicon.glyphicon-record
					span 主题详情
			li
				a(href="/manager/redirect/3" target="main").center-block
					i.glyphicon.glyphicon-record
					span 留言板
	li.list-group-item
		a(data-toggle="collapse" aria-expanded="false" href="#categries-config-menu").center-block.clearfix
			i.glyphicon.glyphicon-th-large
			span 类别
			//- i(collapsing='true').glyphicon.glyphicon-menu-up.pull-right
		ul.children-group.collapsing#categries-config-menu
			li
				a(href="/manager/redirect/categories" target="main").center-block
					i.glyphicon.glyphicon-record
					span 导航
			li
<<<<<<< HEAD
				a(href="/manager/redirect/s" target="iframe").center-block
=======
				a(href="/manager/redirect/subcategories" target="main").center-block
>>>>>>> 4bf98397d82d37064ee28db4b5fbddd620c10278
					i.glyphicon.glyphicon-record
					span 二级
	li.list-group-item
		a(data-toggle="collapse" aria-expanded="false" href="#articles-config-menu").center-block.clearfix
			i.glyphicon.glyphicon-book
			span 文章
			//- i(collapsing='true').glyphicon.glyphicon-menu-up.pull-right
		ul.children-group.collapsing#articles-config-menu
			li
				a(href="/manager/redirect/articles" target="main").center-block
					i.glyphicon.glyphicon-list-alt
					span 列表
