
ul.list-group 
	li.list-group-item
		a(data-toggle="collapse" href="#home-config-menu" aria-expanded="false").center-block.clearfix 
			i.glyphicon.glyphicon-home
			span 首页
			//- i(collapsing='true').glyphicon.glyphicon-menu-up.pull-right
		ul.children-group.collapsing#home-config-menu
			li
				a(href="/manager/redirect/intro" target="main").center-block
					i.icon.iconfont.icon-jieshao
					span 介绍
			li
				a(href="/manager/redirect/theme" target="main").center-block
					i.icon.iconfont.icon-zhuti1
					span 主题类别
			li
				a(href="/manager/redirect/themeDetail" target="main").center-block
					i.icon.iconfont.icon-detail
					span 主题详情	
	li.list-group-item
		a(data-toggle="collapse" href="#categries-config-menu" aria-expanded="false").center-block.clearfix
			i.glyphicon.glyphicon-th-large
			span 类别
			//- i(collapsing='true').glyphicon.glyphicon-menu-up.pull-right
		ul.children-group.collapsing#categries-config-menu
			li
				a(href="/manager/redirect/categories" target="main").center-block
					i.icon.iconfont.icon-yiji-yingyongjianguan
					span 导航
			li
				a(href="/manager/redirect/subcategories" target="main").center-block
					i.icon.iconfont.icon-erjicaidan.subcate-icon
					span 二级
	li.list-group-item
		a(data-toggle="collapse" href="#articles-config-menu" aria-expanded="false").center-block.clearfix
			i.glyphicon.glyphicon-book
			span 文章
			//- i(collapsing='true').glyphicon.glyphicon-menu-up.pull-right
		ul.children-group.collapsing#articles-config-menu
			li
				a(href="/manager/redirect/articles" target="main").center-block
					i.glyphicon.glyphicon-list-alt
					span 列表
