div#categoryWindow.hide
 form.form(method='post' action="/nav/addCategory")
  div.form-item
    label 类别名称
    input(type="text" name="name").k-textbox
  div.form-item
    label 导航标识
    input(type="text" name="navId" id="categoryNavId").k-textbox
  div.form-item
     button.k-button#categorySubmit 提交  