link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.min.css')
link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.table.css')
link(rel='stylesheet', href='/css/common.css')
link(rel='stylesheet', href='/css/manager.css')
script(src="/lib/require/require.js" data-main="/js/main-categories")

header#toolbar
table#table
form(action="" style='display:none;')#categoriesForm
	div.form-group
		label(for="" ) 名称
		input.form-control(name="name" type='input')
	div.form-group
		button.btn.btn-default(type='button')#back 返回
		button.btn.btn-primary(type='button')#save 保存
