div.tab-strip-item
  div#spliterHome.split-home-container.height-full
    ul.left-container
      li(type=0) 推荐
      li(type=1) 文章
      li(type=2) 介绍
      li(type=3) 专题
    div.right-container
      div#home.home-container
        div.k-content
          div#homeToolBar.hide
          div#homeGrid
