div#home.home-container
  div.k-content
    div#recommendedGrid
  div.k-content
    div#articleGrid 
  div.k-content
    div#introGrid
  div.k-content
    div#timelineGrid
  div.k-content
    form#footerForm