doctype html
html
  head
    meta(charst='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    title = title
    link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.table.css')
    link(rel='stylesheet', href='/css/common.css')
    link(rel='stylesheet', href='/css/manager.css')
    script(src="/lib/require/require.js" data-main="/js/main-manager")
  body
    include ./header.jade
    aside.aside-bar 
      include ./aside/index.jade
    main.main#main
      ul.breadcrumb
        li 当前位置: 首页 
        li
          a(step='intro').bread-active 介绍
      section
        header#toolbar
          div.btn-group
            button.btn.btn-info(nextstep='#introForm')
              i.glyphicon.glyphicon-plus 
              span 新增
            button.btn.btn-default 请选择主题
            button.btn.btn-default.dropdown-toggle(data-toggle="dropdown" aria-expanded="false") 
              span.caret 
               <span class="sr-only"></span>
            ul.dropdown-menu(role='menu')
              li
                a(href="") action
        table#table
      include ./home/index.jade
