doctype html
html
  head
    meta(charst='utf-8')
    title = title
    link(rel='stylesheet', href='/lib/kendo/styles/kendo.common.min.css')
    link(rel='stylesheet', href='/lib/kendo/styles/kendo.bootstrap.min.css')
    //- link(rel='stylesheet', href='/lib/kendo/styles/kendo.dataviz.default.min.css')
    //- link(rel='stylesheet', href='/lib/kendo/styles/kendo.dataviz.min.css')
    //- link(rel='stylesheet', href='/lib/kendo/styles/kendo.default.min.css')
    //- link(rel='stylesheet', href='/lib/kendo/styles/kendo.rtl.min.css')
    //- link(rel='stylesheet', href='/lib/kendo/styles/kendo.default.mobile.min.css')
    //- link(rel='stylesheet', href='/css/reset.css')
    //- link(rel='stylesheet', href='/css/common.css')
    //- link(rel='stylesheet', href='/css/manager.css')
    script(src="/lib/jquery/jquery.min.js")
    script(src="/lib/kendo/kendo.all.min.js")
    script(src="/lib/require/require.js" data-main="./../../js/main")
  body
    //- include ./header.jade
    div#tabStrip.tab-strip
      ul
        li 首页
        li 导航
      include ./home/index.jade
      include ./nav/index.jade
    include ./../common/dialog.jade
    include ./../common/loading.jade
  - if(error)
    include ./../common/error.jade
  - else if(success)
    include ./../common/success.jade
