link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.min.css')
link(rel='stylesheet', href='/css/common.css')
link(rel='stylesheet', href='/css/manager.css')
script(src="/lib/require/require.js" data-main="/js/main-intro")

form(action="" role="form" style="padding-right: 10px")#form
	div.form-item
		label(for="title") 标题
		input(type="text" placeholder="请输入标题" name="title").form-control
	div.form-item
		label(for="title") 宣传语
		input(type="text" placeholder="请输入宣传标语" name="slogan").form-control
	div.form-item
		label(for="title") 主题概述
		input(type="text" placeholder="请输入主题标题" name="themeOverview").form-control
	div.form-item
		label(for="title") 简介
		textarea(name="intro", cols="30", rows="10" placeholder="请输入简介信息 ").form-control
	div.form-item
		button.btn.btn-primary(type='button')#saveBtn 提交
