
form.nav-form.hide(action="/nav/submit" method='post' id="navForm")
  div.form-item
    label 导航名称: 
    input(type="text" class="k-textbox" name="name")
  div.form-item
    label 内容分类: 
    input(type="text" class="k-textbox" name="categories")
  div.form-item
    button(type="submit" class="k-button k-default") 确认添加