nav.nav
    h1.title 后台管理系统
    ul#nav-menu
     li 首页
      ul
       li#nav-add-banner 添加轮播
       li#nav-add-brief 添加简介
       li 添加时光轴
       li 添加页脚信息
     li#nav-item-nav 导航
      ul
       li#nav-add-btn 添加
     li#nav-item-article 文章