ul#panelWrapper
    - var navs = data.navs;
    li 类别
      ul
       each nav,navIndex in navs
        - var str = JSON.stringify(nav.categories);
         li(categories="#{str}").article-category #{nav.name}
    li 操作
      ul
       li 列表