header.header
    h1 LIUYING
    nav.nav
     a(href="#" onclick="backHome()") 首页
     - var navs = data.navs;
     each nav in navs
      - var categories = JSON.stringify(nav.categories);
      a(href="#" navId="#{nav._id}" categories="#{categories}").nav-name #{nav.name}