@import url('../iconfont/iconfont.css');

::-webkit-scrollbar-track {
    background: #b886ff
}

::-webkit-scrollbar {
    width: 8px
}

.sidebar {
    width: 250px;
    padding: 0 0 20px 0px;
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    top: 0;
    left: 0;
    z-index: 99;
    transition: all .3s ease-out 0s
}

.sidebar .app-logo {
    font-size: 28px;
    height: 55px;
    line-height: 55px;
    font-weight: 600;
    text-align: center;
    color: rgb(93 0 224)
}

.sidebar .sidebar-nav ul li {
    position: relative;
    margin: 5px 0px
}

.sidebar .sidebar-nav ul li a {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 1;
    padding: 14px 25px;
    font-size: 16px;
    font-weight: 500;
    color: #5d657b
}

.sidebar .sidebar-nav ul li a:hover {
    color: #ffffff;
    border-color: rgb(93 0 224);
    background: rgb(93 0 224);
    background-image: linear-gradient(270deg, #c42cb7, rgb(93 0 224))
}

.sidebar .sidebar-nav ul li a::before {
    opacity: 1;
    visibility: visible
}

.sidebar .sidebar-nav ul li a span.name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%
}

.sidebar .sidebar-nav ul li a span.icon {
    margin-right: 12px;
    font-size: 18px
}

.sidebar .sidebar-nav ul .nav-has-children a ::after {
    content: "\e66a";
    font: normal normal normal 1em/1 "iconfont";
    position: absolute;
    right: 25px;
    top: 16px;
    font-size: 16px;
    transition: all .3s ease-out 0s;
    transform: rotate(0deg)
}

.sidebar .sidebar-nav ul .nav-has-children a.collapsed::after {
    transform: rotate(180deg) !important
}