// 主色
@primary-color: #66AF33;

@dark-grey: rgb(85,85,85);

@french-grey: #F5F5F5;

@atropurpureus: #2A3F54;

@success: #5cb85c;

@error: #f56c6c;

.flex-center-all {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-row-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clearfix {
    zoom: 1; 
    &::after{
        content: "020"; 
        display: block; 
        height: 0; 
        clear: both; 
        visibility: hidden;  
    }
}

  

  