.toolbar {
    padding: 20px ;
    background-color: white;

    form {
        margin-left: 40px;
        .form-item  {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            input {
                margin-right: 5px;
                width: auto;
            }
        }
    }
}