@import url(./base.less);
@import url(./components.less);

.nav {
   height: 65px;
   padding: 0 8%;
   box-shadow: 0 0 1px 0px #e4e4e4;
   background-color: transparent;
   .nav-logo {
      font-size: 24px;
		line-height: 65px;
		color: @primary-color;
   }
   .nav-menu {
      li {
         padding: 0 20px;
         a {
            display: block;
            font-weight: bold;
            color: #404040;
            text-decoration: none;
            &:hover {
               color: @primary-color;
            }
         }
         &:last-child {
            padding-right: 0;
         }
      }
   }
} 

.recommend {
   width: 100%;
   button {
      background-color: transparent;
      border: none;
   }
}

.hot {
   margin-top: 58px;
   .headline {
      text-align: center;
      margin-bottom: 30px;      
      font-size: 36px;
      font-weight: 700;
      text-transform: uppercase;
      font-family: 'Roboto Slab', serif;
      color: #222222;
   }

   & > p {
      text-align: center;
      padding-bottom: 45px;
      font-size: 16px;
      color: #646464;
      font-family: 'Open Sans', sans-serif;
   }

   article {

      img {
         height: 230px;
      }

      .card-title {
         font-size: 22px;
         font-weight: 400;
         padding-bottom: 10px;
         color: #454444;
         font-family: 'Roboto Slab', serif;
      }

      .card-text {
         color: #646464;
         font-size: 14px;
         line-height: 24px;
         padding-bottom: 15px;
         font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      }
   }
}

.visitor {
   margin-top: 58px;
   height: 400px;
   background-image: url("/images/img3.jpg");
   background-size: cover;
   background-position: center center;
   background-color: rgba(0,0,0.5);
   background-clip:content-box;
   color: #fff;
   .inner {
      height: 100%;
      background-color: rgba(0,0,0, 0.6);
      article {
         border: none;
         padding: 0 10px;
         text-align: center;
         background-color: transparent;
      }
   }
}

.page-footer {
   margin-top: 40px;
   padding-top: 50px;
   padding-bottom: 30px;
   background-color: #0f1113;
}