.header {
    .btn {
        margin-right: 20px;
    }
}

.form {
    padding-right:12px;
    .form-item:last-child {
        button:first-child {
            margin-right: 12px;
        }
    }
    .radio-item {
        .radio-box {
            margin-left: 12px;
        }
    }
    .checkbox-item {
        .check-box {
            margin-left: 12px;
        }
    }
}