
ul.list-group#list-group 
	li.list-group-item(data-toggle="collapse" data-parent="#list-group" aria-controls="a" aria-expanded="false" href="#a") 首页
		ul#a
			li 测试
			li 测试二
	li.list-group-item(data-toggle="collapse" data-parent="#list-group") 测试二
		
