
ul.list-group#aside-inner 
	li.list-group-item(data-toggle="collapse" data-parent="#list-group" aria-controls="a" aria-expanded="false" href="#home-option") 
		a(href="#")
			i.glyphicon.glyphicon-home
			span 专题
			i.glyphicon.glyphicon-menu-up.pull-right
		ul.children-group#home-option
			li
				a(href="")
					i.glyphicon.glyphicon-heart-empty
					span 专题
		
	li.list-group-item(data-toggle="collapse" data-parent="#list-group") 类别
		
