form(action="" style='display:none;')#categoriesForm
    div.form-group
        label(for="") 名称
        input.form-control
    div.form-group
        button.btn.btn-default(type='button') 返回
        button.btn.btn-primary(type='button') 保存